<div class="about-us">
    <p class="about-us-titel">Welkom bij HelpR!</p><br>
    <p class="about-us-tekst">
        Wij zijn <strong>Senne en Stijn</strong> , twee (enthousiaste) studenten met een passie voor verbinding en samenwerking in de buurt. HelpR is ons eindproject met een belangrijke missie: mensen in de buurt op een leuke en eenvoudige manier met elkaar verbinden. Met HelpR kun je eenvoudig buurtbewoners helpen door kleine taken uit te voeren, zoals het gras maaien, boodschappen doen of de hond uitlaten. En het mooie is: je verdient er ook nog een centje mee! Maar daar stopt het niet. We geloven dat een sterke buurt meer is dan alleen elkaar helpen. Daarom organiseren wij een gezellig buurtfeest zodra er voldoende taken in de buurt zijn volbracht. Een moment om elkaar beter te leren kennen, samen te vieren en de gemeenschap nog hechter te maken.Doe mee, help je buurt en bouw samen met ons aan een warmere en gezelligere omgeving.
    </p>
    <p class="about-us-footer">Samen maken we het verschil</p>
</div>
