<div class="contact">
    <p class="contact-titel">Contact</p>
    <p class="contact-tekst">Heb je vragen over <strong>HelpR</strong>, suggesties voor verbetering of gewoon zin om met ons in contact te komen? We staan altijd open om je te helpen en te luisteren naar jouw ideeën. <strong>HelpR</strong> draait immers om verbinding en samenwerking — en daar horen gesprekken met onze gebruikers zeker bij!</p>

    <div>
            <p class="contact-contact">Hoe kun je ons bereiken?</p>
            <p class="contact-info">
                📧 E-mail: info&#64;helpr.com <br>
                📱 Telefoon: +32 412 65 54 98<br>
                📍 Locatie: We zijn gevestigd in de regio waar ons project actief is, altijd dichtbij om te ondersteunen.
            </p>
    </div>
</div>  
