<div class="settings-page">
    <div class="settings-container">

        <h1>{{ translations[currentLanguage].settingsTitle }}</h1>

        <div class="settings-section">

            <h2>{{ translations[currentLanguage].languageSectionTitle }}</h2>


            <button (click)="setLanguage('Nederlands')">Nederlands</button>
            <button (click)="setLanguage('Engels')">Engels</button>
            <button (click)="setLanguage('Chinees')">Chinees</button>
        </div>

        <div class="settings-section link-container">
            <a href="#" class="link">Hoe het werkt</a>
            <a href="#" class="link">Over HelpR</a>
            <a href="#" class="link">Puntensysteem</a>
            <a href="#" class="link">Contact</a>
        </div>
    </div>
</div>