<div class="settings-page">
    <div class="settings-container">

        <h1>{{ translations[currentLanguage].settingsTitle }}</h1>

        <div class="settings-section">

            <h2>{{ translations[currentLanguage].languageSectionTitle }}</h2>


            <button (click)="setLanguage('Nederlands')">Nederlands</button>
            <button (click)="setLanguage('Engels')">Engels</button>
            <button (click)="setLanguage('Chinees')">Chinees</button>
        </div>

        <div class="settings-section link-container">
            <a routerLink="/footer/product/how-it-works" class="link">Hoe het werkt</a>
            <a routerLink="/footer/bedrijf/about-us" class="link">Over HelpR</a>
            <a routerLink="/footer/product/puntensysteem" class="link">Puntensysteem</a>
            <a routerLink="/footer/bedrijf/contact" class="link">Contact</a>
            
        </div>
    </div>
</div>