.puntensysteem {
    text-align: center;
    padding: 25px 150px 100px 150px;
}

.puntensysteem-titel {
    font-size: 75px;
    font-weight: bold;
    color: #000000;
}       

.puntensysteem-1 {
    font-size: 30px;
    color: #000000;
    font-weight: bold;
    margin-top: 30px;
}   

.puntensysteem-1-info {
    font-size: 20px;
    color: #000000;
    margin-top: 10px;
    line-height: 50px;
}

.puntensysteem-2 {
    font-size: 30px;
    color: #000000;
    font-weight: bold;
    margin-top: 30px;
}   

.puntensysteem-2-info {
    font-size: 20px;
    color: #000000;
    margin-top: 10px;       
    line-height: 50px;
}

.puntensysteem-3 {
    font-size: 30px;
    color: #000000;
    font-weight: bold;
    margin-top: 30px;
}   

.puntensysteem-3-info {
    font-size: 20px;
    color: #000000;
    margin-top: 10px;       
    line-height: 50px;
}   