<div class="puntensysteem">
    <p class="puntensysteem-titel">Punten Systeem</p>
    <div>
        <p class="puntensysteem-1">Taken Voltooien 🧑‍💻</p>
        <p class="puntensysteem-1-info">
            Elke keer dat je een taak voltooit, zoals het maaien van het gras, boodschappen doen of de hond uitlaten ontvangt je buurt punten. De hoeveelheid punten hangt af van de taakwaarde (prijs).
        </p>
    </div>

    <div>
        <p class="puntensysteem-2">Punten Verdienen 🎯</p>
        <p class="puntensysteem-2-info">
            Hoe meer taken je voltooit, hoe meer punten je voor je buurt verzamelt! Bijvoorbeeld, als een taak je €10 oplevert, krijg je buurt 1 punt (10% van de taakwaarde). Elke voltooide taak draagt bij aan het totaal aantal punten. Deze punten worden automatisch toegevoegd aan de grote balk in het homescreen.
        </p>
    </div>  

    <div>
        <p class="puntensysteem-3">Verzamelen Tot 100% 💯</p>
        <p class="puntensysteem-3-info">
            Zodra je met de buurt genoeg punten hebt verzameld (100% van het doel), hebben we iets speciaals voor je in petto: <strong>het buurtfeest!</strong> Elke taak die je voltooit en elke punt die je verdient, brengt ons dichter bij het organiseren van een geweldig buurtfeest.
    </div>


</div>  
