<div class="How">
    <p class="How-titel">Hoe het werkt</p>


    <div>
        <p class="how-1">1. Maak een Account aan 📝</p>
        <p class="how-1-info">
            Om te beginnen, meld je je aan bij HelpR. Het enige wat je nodig hebt is een account. Dit kan snel en eenvoudig via onze knop -> Register. Vul je gegevens in, en je bent klaar om te starten!
        </p>
    </div>

    <div>
        <p class="how-2">2. Bekijk Taken in de Buurt 🏘️</p>
        <p class="how-2-info">
            Zodra je bent aangemeld, kun je de beschikbare taken in jouw buurt bekijken. Van het helpen met boodschappen tot het maaien van gras - er zijn verschillende manieren om te helpen. Elke taak heeft een beloning in de vorm van een klein bedrag, zodat je ook een beetje kunt verdienen!
        </p>
    </div>  

    <div>
        <p class="how-3">3. Kies een Taak en Begin! ✅</p>
        <p class="how-3-info">
            Kies een taak die je aanspreekt en meld je aan om deze uit te voeren. Het is helemaal aan jou welke taken je wilt doen en wanneer. Zo kun je je eigen tijd indelen en werken op een manier die het beste voor jou past.
        </p>
    </div>

    <div>
        <p class="how-4">4. Verzamel Punten 🎯</p>
        <p class="how-4-info">Elke keer dat je een taak succesvol voltooit, verdien je punten voor je buurt. Hoe meer taken je uitvoert, hoe meer punten je verzamelt. Deze punten tellen mee voor een geweldige beloning: <strong>het buurtfeest!</strong></p>
    </div>

    <div>
        <p class="how-5">5. Buurtfeest 🎉</p>
        <p class="how-5-info">
            Zodra er voldoende taken zijn voltooid en er genoeg punten zijn verzameld, organiseren wij een gezellig buurtfeest! Het is het perfecte moment om elkaar te bedanken en te vieren wat we als gemeenschap hebben bereikt, gewoon een leuke tijd te hebben. Dit is ons cadeau voor jullie harde werk!
        </p>
    </div>

</div>  
