.How {
    text-align: center;
    padding: 25px 150px 100px 150px;
}

.How-titel {
    font-size: 75px;
    font-weight: bold;
    color: #000000;
}   


.how-1 {
    font-size: 30px;
    color: #000000;
    font-weight: bold;
    margin-top: 30px;
}

.how-1-info {
    font-size: 20px;
    color: #000000;
    margin-top: 10px;
    line-height: 50px;
}

.how-2 {
    font-size: 30px;
    color: #000000;
    font-weight: bold;
    margin-top: 100px;
}   

.how-2-info {
    font-size: 20px;
    color: #000000;
    margin-top: 10px;
    line-height: 50px;
}

.how-3 {
    font-size: 30px;
    color: #000000;
    font-weight: bold;
    margin-top: 100px;
}   

.how-3-info {
    font-size: 20px;
    color: #000000;
    margin-top: 10px;
    line-height: 50px;
}

.how-4 {
    font-size: 30px;
    color: #000000;
    font-weight: bold;
    margin-top: 100px;
}   

.how-4-info {
    font-size: 20px;
    color: #000000;
    margin-top: 10px;
    line-height: 50px;
}   

.how-5 {
    font-size: 30px;
    color: #000000;
    font-weight: bold;
    margin-top: 100px;
}   

.how-5-info {
    font-size: 20px;
    color: #000000;
    margin-top: 10px;
    line-height: 50px;
}

