<p>Profile Works</p>
test
{{jobs() | json}}

@for (job of jobs(); track job.id) {
    
    <div class="profile-container">
        <div class="profile-header">
            <img src="" alt="Profielfoto" class="profile-picture" />
            <h1>{{job.id}}<!--{{user.name.last}}  --></h1>
            <p><!--{{ user.email }}--></p>
        </div>

        <div class="profile-info">
            <h2>Persoonlijke Informatie</h2>
            <ul>
                <li><strong>Gebruikersnaam:</strong> test<!-- {{user.login.username}}--></li>
                <li><strong>Telefoonnummer:</strong> Test<!--{{ user.phone }}--></li>
                <li><strong>Locatie:</strong> test<!--{{ user.location.city }}--></li>
            </ul>
        </div>

        <button class="edit-button" (click)="editProfile()">Profiel Bewerken</button>
    </div>
}
