<nav>
  <div class="search-you">
    <div class="search-container">
      <input id="search-input" type="text" placeholder="Zoek" (input)="searchPage($event)" />
      <ul id="search-results"></ul>
    </div>

      <select name="dropdown" class="locatie">
          <option value="500m">500m</option>
          <option value="1km">1km</option>
          <option value="1.5km">1.5km</option>
          <option value="2km">2km</option>
          <option value="5km">5km</option>
      </select>
  </div>
</nav>

<div class="main-progress-bar-container">
    <div class="main-progress-bar" [style.width.%]="mainProgressBar"></div>
  </div>
  

  <button (click)="showPostPopup()" class="createPost">Create Post</button>
  

  <app-post-popup
    [class.visible]="isPostPopupVisible"
    [isVisible]="isPostPopupVisible"
    (postCreated)="handlePostCreated($event)"
    (closePopup)="hidePostPopup()"
  ></app-post-popup>
  
  @for (job of jobs(); track job.id) {
    <div class="post-container">
        <div class="post-header">
            <img class="profile-picture" src="user.png" alt="Logo">
            <div class="user-details">
                <div class="name">
                    {{ job.user?.firstname || 'Onbekende' }} {{ job.user?.lastname || '' }}
                </div>
                <div class="username">
                    <p>{{ job.user?.lastname || 'User' }}.{{ job.user?.firstname || 'Anon' }}</p>
                </div>
            </div>
        </div>
        <div class="post-info">
            <div class="zoekertje">
                <p><strong>{{ job.title }} - {{ job.fee }}€</strong></p>
                <p>{{ job.description }}</p>
            </div>
            <div class="post-locatie">
                <p><strong>Location:</strong> Genk</p>
            </div>
        </div>
  
      <button (click)="updateMainProgressBar(job.fee)" class="add-progress-btn">Doe taak!</button>
  
      <div id="popup" class="popup-container">
        <div class="popup-content">
          <p class="popup-text">Proficiat! De buurt krijgt een groot feest!</p>
          <button class="close-button" (click)="hidePostPopup()">Close</button>
        </div>
      </div>
    </div>
  }
  